@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-family: 'Roboto', sans-serif;
}

h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.selected {
  color: #74B9A8;
}

.table-header {
  color: #685D6A;
}
.header-image{
  width: 65px;
  height: 65px;
  padding: 5px;
}
.not-selected {
  color: #F4828C;
}

.text-color {
  color: #685D6A;
}
body{
  background-color: #74B9A8;
}

.green {
  margin: 0 auto;
  background-color: #74B9A8;
  padding: -20px;
}

.my_container {
  background-color: #F0F0F1;
  padding: 10px;
  max-width: 1300px;
  margin: 20px auto;

  box-shadow: inset 0 0 10px #000000;
}

.button-container{
  min-width: 80px;
}
.btn{
  min-width: 100px;
}

.btn-danger {
  border-radius: 0;
  border-width: 0;
  background-color: #F4828C;;
}

.btn-success{
  border-radius: 0;
  border-width: 0;
  background-color: #74B9A8;
}

table.select_row tr:hover td {
  transform: scale(1.2);
  transition: .5s all;
  z-index: 1000;
}
