<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">Sign up</h2>

  <form (ngSubmit)="onRegister()" novalidate class="login-container">

    <p><input type="password" placeholder="Email" [(ngModel)]="user.email" name="password" required></p>

    <p><input type="email" placeholder="Name" [(ngModel)]="user.name" name="email" required></p>

    <p><input type="email" placeholder="Lastname" [(ngModel)]="user.lastname" name="email" required></p>

    <p><input type="email" placeholder="Patronymic" [(ngModel)]="user.patronymic" name="email" required></p>

    <p><input type="password" placeholder="Nickname" [(ngModel)]="user.nickname" name="password" required></p>

    <p><input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required></p>

    <button type="submit" class="btn green center">Log in</button>
  </form>
</div>
