
<div class="header-wrap">
  <h1 class="title">Faculties</h1>

</div>

<div class="page-wrap">
  <router-outlet></router-outlet>
</div>
<footer class="site-footer">
  <h1 align="center">Faculties</h1>


  <nav class="nav">
    <ul>
      <li><a routerLink="/" >Main</a></li>
      <li><a href="#">About</a></li>
      <li><a href="">Contacts</a></li>
      <li><a href="http://localhost:9000/swagger-ui.html">Api</a></li>
      <li><a href="https://github.com/Ancarian/Faculties">Git</a></li>
    </ul>
  </nav>
</footer>
