<nav class="light-blue" role="navigation">


  <div class="nav-wrapper "><a id="logo-container" routerLink="/" routerLinkActive="active"
                                        class="brand-logo">Faculties</a>


    <ul class="container hide-on-med-and-down">
      <div class="container">
      <li class="tab"><a *ngIf="isAdmin" routerLink="/user">USERS</a></li>
      <li class="tab"><a routerLink="/">UNIVERSITIES</a>
      <li class="tab"><a routerLink="/">FACULTIES</a>
      <li class="tab"><a routerLink="/group">GROUPS</a>
      <li class="tab"><a routerLink="/">SUBJECTS</a>
      <li class="tab"><a routerLink="/">STATISTIC</a>
      </div>

    </ul>

    <ul class="right hide-on-med-and-down">

      <li><a *ngIf="!getToken()" routerLink="/login" routerLinkActive="active" href="#">Sign in</a></li>
      <li><a *ngIf="!getToken()" routerLink="/register" routerLinkActive="active" href="#">Sign up</a>
      </li>
      <li><a *ngIf="getToken()" (click)="logout()" routerLink="/">Logout</a></li>
    </ul>
  </div>
</nav>
