<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">Log in</h2>

  <form (ngSubmit)="onLogin()" novalidate class="login-container">

    <p><input type="email" placeholder="Email" [(ngModel)]="user.username" name="email" required></p>

    <p><input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required></p>
    <div class="text-red center">{{error}}</div>
    <button type="submit" class="btn green center">Log in</button>
  </form>
</div>
